$lightGray: #212429;
$darkGray: #040404;
$darkerGray: #202020;
$darkerGrayHover: #303030;
$cyan: #2dbfff;
$red: #e10e21;
$redHover: #f62f2f;
$borderRed: #612123;
$text: #d0d0d0;
$lightText: #7b7b7b;

@mixin openSans {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: $text;
  background-color: $lightGray;
  alignment-adjust: central;
  @include openSans;
  font-size: 12px;
  font-style: normal;
}

.wrapper {
  width: 524px;
  height: 638px;
  margin: 0 auto;
  padding-top: 60px;
  background: $darkGray;
  border: 1px solid $borderRed;
  border-radius: 2px;

  .logo {
    width: 162px;
    height: 55px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
  }

  .header {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  form {
    width: 480px;
    padding: 20px;
    display: block;
    float: left;

    .row {
      margin-bottom: 10px;
      float: left;
      width: 100%;
    }

    .grouped-radio {
      label {
        display: block;
        border-radius: 5px;
        width: 50%;
        height: 60px;
        float: left;
        background: $darkerGray;
        cursor: pointer;

        input {
          display: none;
        }

        span {
          display: block;
          font-size: 16px;
          width: 100%;
          text-align: center;
          padding-top: 18px;
        }

        &:hover {
          background-color: $darkerGrayHover;
        }

        &.checked {
          background: $red;

          &:hover {
            background: $redHover;
          }
        }

        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .pe_select {
      width: 100%;
      height: 60px;
      background: $darkerGray;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background: $darkerGrayHover;
      }

      .val {
        display: inline-block;
        width: 400px;
        height: 20px;
        padding: 20px;
        float: left;
      }

      .toggle {
        display: inline-block;
        width: 40px;
        height: 60px;
        background: url('../images/select-arrows.png') no-repeat center;
      }

      .list {
        display: none;
        position: absolute;
        width: 480px;
        margin-top: -64px;
        background-color: $darkerGray;
        border-radius: 5px;

        .text-input {
          display: inline-block;
          width: 480px;
          height: 60px;

          input {
            width: 440px;
            height: 20px;
            padding: 20px;
            border: 0;
            border-radius: 5px;
            background: $darkerGray;
            color: $text;
            font-size: 16px;
            @include openSans;

            &:focus {
              border: 0;
            }

            &:hover {
              background: $darkerGrayHover;
            }

            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
              color:    red;
              opacity:  1;
            }
          }
        }

        .option {
          float: left;
          width: 440px;
          height: 20px;
          padding: 20px;
          border-top: 1px solid #333;
          cursor: pointer;

          &:first-child {
            border: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background-color: $darkerGrayHover;
          }
        }
      }

      select {
        display: none;
      }

      &.open {
        .list {
          display: block;
        }
      }
    }

    input {
      width: 440px;
      height: 20px;
      padding: 20px;
      border: 0;
      border-radius: 5px;
      background: $darkerGray;
      color: $text;
      font-size: 16px;
      @include openSans;

      &:focus {
        border: 0;
      }

      &:hover {
        background: $darkerGrayHover;
      }

      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color:    red;
        opacity:  1;
      }
    }

    button {
      width: 480px;
      height: 60px;
      background: $red;
      border-radius: 5px;
      border: 0;
      color: $text;
      display: block;
      font-size: 16px;
      @include openSans;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background: $redHover;
      }
    }
  }

  .code-container {
    float: left;
    margin-top: 20px;
    width: 100%;
    display: none;
    padding: 0 20px;

    .title {
      font-size: 20px;
      display: block;
      text-align: center;
    }

    .code {
      font-size: 24px;
      display: block;
      text-align: center;
      margin-top: 10px;
    }

    .instruction {
      width: 100%;
      float: left;
      font-size: 14px;
      margin-bottom: 10px;

      .button, .border {
        display: inline-block;
        border: 2px solid $red;
        border-radius: 2px;
        padding: 1px 6px;
        margin: 0 5px;

        i {
          width: 8px;
          height: 8px;
          background: $red;
          display: inline-block;
          border-radius: 2px;
          position: relative;
          top: -2px;
        }

        &.blue {
          border-color: $cyan;

          i {
            background: $cyan;
          }
        }

        &.number {
          margin: 0;
        }
      }
    }

    p {
      display: block;
      width: 100%;
      text-align: center;
      color: #8c8c8c;
      font-size: 12px;
      margin-top: 30px;
      float: left;
    }
  }
}
