body {
  color: #d0d0d0;
  background-color: #212429;
  alignment-adjust: central;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal; }

.wrapper {
  width: 524px;
  height: 638px;
  margin: 0 auto;
  padding-top: 60px;
  background: #040404;
  border: 1px solid #612123;
  border-radius: 2px; }
  .wrapper .logo {
    width: 162px;
    height: 55px;
    margin: 0 auto;
    background: url("../images/logo.png") no-repeat; }
  .wrapper .header {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px; }
  .wrapper form {
    width: 480px;
    padding: 20px;
    display: block;
    float: left; }
    .wrapper form .row {
      margin-bottom: 10px;
      float: left;
      width: 100%; }
    .wrapper form .grouped-radio label {
      display: block;
      border-radius: 5px;
      width: 50%;
      height: 60px;
      float: left;
      background: #202020;
      cursor: pointer; }
      .wrapper form .grouped-radio label input {
        display: none; }
      .wrapper form .grouped-radio label span {
        display: block;
        font-size: 16px;
        width: 100%;
        text-align: center;
        padding-top: 18px; }
      .wrapper form .grouped-radio label:hover {
        background-color: #303030; }
      .wrapper form .grouped-radio label.checked {
        background: #e10e21; }
        .wrapper form .grouped-radio label.checked:hover {
          background: #f62f2f; }
      .wrapper form .grouped-radio label:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .wrapper form .grouped-radio label:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .wrapper form .pe_select {
      width: 100%;
      height: 60px;
      background: #202020;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer; }
      .wrapper form .pe_select:hover {
        background: #303030; }
      .wrapper form .pe_select .val {
        display: inline-block;
        width: 400px;
        height: 20px;
        padding: 20px;
        float: left; }
      .wrapper form .pe_select .toggle {
        display: inline-block;
        width: 40px;
        height: 60px;
        background: url("../images/select-arrows.png") no-repeat center; }
      .wrapper form .pe_select .list {
        display: none;
        position: absolute;
        width: 480px;
        margin-top: -64px;
        background-color: #202020;
        border-radius: 5px; }
        .wrapper form .pe_select .list .text-input {
          display: inline-block;
          width: 480px;
          height: 60px; }
          .wrapper form .pe_select .list .text-input input {
            width: 440px;
            height: 20px;
            padding: 20px;
            border: 0;
            border-radius: 5px;
            background: #202020;
            color: #d0d0d0;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif; }
            .wrapper form .pe_select .list .text-input input:focus {
              border: 0; }
            .wrapper form .pe_select .list .text-input input:hover {
              background: #303030; }
            .wrapper form .pe_select .list .text-input input::-webkit-input-placeholder, .wrapper form .pe_select .list .text-input input:-moz-placeholder, .wrapper form .pe_select .list .text-input input::-moz-placeholder, .wrapper form .pe_select .list .text-input input:-ms-input-placeholder {
              color: red;
              opacity: 1; }
        .wrapper form .pe_select .list .option {
          float: left;
          width: 440px;
          height: 20px;
          padding: 20px;
          border-top: 1px solid #333;
          cursor: pointer; }
          .wrapper form .pe_select .list .option:first-child {
            border: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
          .wrapper form .pe_select .list .option:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; }
          .wrapper form .pe_select .list .option:hover {
            background-color: #303030; }
      .wrapper form .pe_select select {
        display: none; }
      .wrapper form .pe_select.open .list {
        display: block; }
    .wrapper form input {
      width: 440px;
      height: 20px;
      padding: 20px;
      border: 0;
      border-radius: 5px;
      background: #202020;
      color: #d0d0d0;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif; }
      .wrapper form input:focus {
        border: 0; }
      .wrapper form input:hover {
        background: #303030; }
      .wrapper form input::-webkit-input-placeholder, .wrapper form input:-moz-placeholder, .wrapper form input::-moz-placeholder, .wrapper form input:-ms-input-placeholder {
        color: red;
        opacity: 1; }
    .wrapper form button {
      width: 480px;
      height: 60px;
      background: #e10e21;
      border-radius: 5px;
      border: 0;
      color: #d0d0d0;
      display: block;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      cursor: pointer; }
      .wrapper form button:hover {
        background: #f62f2f; }
  .wrapper .code-container {
    float: left;
    margin-top: 20px;
    width: 100%;
    display: none;
    padding: 0 20px; }
    .wrapper .code-container .title {
      font-size: 20px;
      display: block;
      text-align: center; }
    .wrapper .code-container .code {
      font-size: 24px;
      display: block;
      text-align: center;
      margin-top: 10px; }
    .wrapper .code-container .instruction {
      width: 100%;
      float: left;
      font-size: 14px;
      margin-bottom: 10px; }
      .wrapper .code-container .instruction .button, .wrapper .code-container .instruction .border {
        display: inline-block;
        border: 2px solid #e10e21;
        border-radius: 2px;
        padding: 1px 6px;
        margin: 0 5px; }
        .wrapper .code-container .instruction .button i, .wrapper .code-container .instruction .border i {
          width: 8px;
          height: 8px;
          background: #e10e21;
          display: inline-block;
          border-radius: 2px;
          position: relative;
          top: -2px; }
        .wrapper .code-container .instruction .button.blue, .wrapper .code-container .instruction .border.blue {
          border-color: #2dbfff; }
          .wrapper .code-container .instruction .button.blue i, .wrapper .code-container .instruction .border.blue i {
            background: #2dbfff; }
        .wrapper .code-container .instruction .button.number, .wrapper .code-container .instruction .border.number {
          margin: 0; }
    .wrapper .code-container p {
      display: block;
      width: 100%;
      text-align: center;
      color: #8c8c8c;
      font-size: 12px;
      margin-top: 30px;
      float: left; }
